/* screen - 06u4605u461-jouw-vraag */

.x06u4605u461-jouw-vraag {
  background-color: var(--salomie);
  min-height: 2304.85px;
  min-width: 1929.4px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x06u4605u461-jouw-vraag .rono-it-achtergrond-blauw-rgb-5 {
  aspect-ratio: 3.55;
  height: 554px;
  left: -1px;
  top: -4px;
  width: 1925px;
}

.x06u4605u461-jouw-vraag .vector {
  height: 1063px;
  left: 785px;
  position: absolute;
  top: -2px;
  transform: rotate(0.23deg);
  width: 1142px;
}

.x06u4605u461-jouw-vraag .profiel-menu-gesloten-1 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 138px;
}

.x06u4605u461-jouw-vraag .profiel-menu-gesloten-2 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 133px;
}

.x06u4605u461-jouw-vraag .logo {
  aspect-ratio: 2.62;
  display: flex;
  height: 66px;
  left: 874px;
  position: absolute;
  top: 34px;
  width: 173px;
}

.x06u4605u461-jouw-vraag .rono-it-logo-tagline-rgb-1 {
  flex: 1;
  object-fit: cover;
  transform: rotate(0.23deg);
  width: 173.04px;
}

.x06u4605u461-jouw-vraag .group-226 {
  display: flex;
  height: 48px;
  left: 240px;
  position: absolute;
  top: 625px;
  width: 651px;
}

.x06u4605u461-jouw-vraag .zo-werkt-het {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 649px;
}

.x06u4605u461-jouw-vraag .group-273 {
  display: flex;
  height: 48px;
  left: 240px;
  position: absolute;
  top: 1452px;
  width: 651px;
}

.x06u4605u461-jouw-vraag .group-271 {
  display: flex;
  height: 48px;
  left: 240px;
  position: absolute;
  top: 843px;
  width: 651px;
}

.x06u4605u461-jouw-vraag .stel-je-vraag-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 649px;
}

.x06u4605u461-jouw-vraag .title {
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 175px;
  white-space: nowrap;
  width: 1054px;
}

.x06u4605u461-jouw-vraag .component-1 {
  border: 1px solid;
  border-color: var(--black);
  height: 577px;
  left: 0;
  position: absolute;
  top: 1720px;
  width: 1920px;
}

.x06u4605u461-jouw-vraag .rono-it-achtergrond-blauw-rgb-2 {
  height: 102.23%;
  left: 0;
  top: 0;
  width: 100.38%;
}

.x06u4605u461-jouw-vraag .x3f6bd76d-24c0-2648-4f7a-5c61faf211db-1 {
  aspect-ratio: 2.22;
  height: 79px;
  left: 67.77%;
  object-fit: cover;
  position: absolute;
  top: 296px;
  transform: rotate(0.23deg);
  width: 9.04%;
}

.x06u4605u461-jouw-vraag .x34474454-29b6-4873-9d1e-dd1434fdf18c-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 68.62%;
  object-fit: cover;
  position: absolute;
  top: 386px;
  transform: rotate(0.23deg);
  width: 8.93%;
}

.x06u4605u461-jouw-vraag .x33f7f3f4-d3a3-62db-0eff-22e8fffcfaed-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 69.71%;
  object-fit: cover;
  position: absolute;
  top: 126px;
  transform: rotate(0.23deg);
  width: 8.93%;
}

.x06u4605u461-jouw-vraag .x0f1a7654-951c-6193-1139-23db606c07bb-1 {
  aspect-ratio: 2.22;
  height: 79px;
  left: 69.37%;
  object-fit: cover;
  position: absolute;
  top: 208px;
  transform: rotate(0.23deg);
  width: 9.04%;
}

.x06u4605u461-jouw-vraag .frame-225 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 9.19%;
  justify-content: center;
  left: 12.50%;
  position: absolute;
  top: 26.52%;
  width: 15.94%;
}

.x06u4605u461-jouw-vraag .profiel-menu-gesloten-3 {
  align-self: stretch;
  background-color: var(--link-water);
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.x06u4605u461-jouw-vraag .bel-of-schrijf-ons-1 {
  left: 240px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 1561px;
  width: 339px;
}

.x06u4605u461-jouw-vraag .group-272 {
  height: 464px;
  left: 240px;
  position: absolute;
  top: 904px;
  width: 712px;
}

.x06u4605u461-jouw-vraag .group-269 {
  height: 464px;
  left: 0;
  position: absolute;
  top: 0;
  width: 710px;
}

.x06u4605u461-jouw-vraag .group-9 {
  display: flex;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 343px;
}

.x06u4605u461-jouw-vraag .profiel {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  display: flex;
  gap: 10px;
  height: 34px;
  padding: 8px 13px;
  position: relative;
  width: 343px;
}

.x06u4605u461-jouw-vraag .group-257 {
  display: flex;
  height: 34px;
  left: 366px;
  position: absolute;
  top: 0;
  width: 343px;
}

.x06u4605u461-jouw-vraag .group-258 {
  display: flex;
  height: 34px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 343px;
}

.x06u4605u461-jouw-vraag .group-259 {
  background-color: var(--alabaster);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  height: 320px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 710px;
}

.x06u4605u461-jouw-vraag .group-10 {
  display: flex;
  height: 34px;
  left: 591px;
  position: absolute;
  top: 430px;
  width: 118px;
}

.x06u4605u461-jouw-vraag .profiel-1 {
  align-items: center;
  background-color: var(--blue-whale);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  display: flex;
  gap: 10px;
  height: 34px;
  padding: 8px 13px;
  position: relative;
  width: 118px;
}

.x06u4605u461-jouw-vraag .type-hier-jouw-bericht {
  left: 13px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}

.x06u4605u461-jouw-vraag .group-261 {
  display: flex;
  height: 128px;
  left: 236px;
  position: absolute;
  top: 683px;
  width: 659px;
}

.x06u4605u461-jouw-vraag .stel-je-vraag-in-het {
  height: 128px;
  letter-spacing: 0;
  line-height: 27px;
  width: 657px;
}

.x06u4605u461-jouw-vraag .group-256 {
  background-color: var(--link-water);
  border-radius: 26px;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 50px;
  left: 217px;
  position: absolute;
  top: 996px;
  width: 465px;
}

.x06u4605u461-jouw-vraag .group-274 {
  display: flex;
  height: 32px;
  left: 240px;
  position: absolute;
  top: 1510px;
  width: 659px;
}

.x06u4605u461-jouw-vraag .profiel-menu-gesloten-4 {
  align-items: center;
  border-radius: 13px;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
}

.x06u4605u461-jouw-vraag .rono-it-achtergrond-blauw-rgb {
  object-fit: cover;
  position: absolute;
  transform: rotate(0.23deg);
}
