/* screen - 06u4605u462-jouw-vraag-u40formulier-ingevuldu41 */

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 {
  background-color: var(--salomie);
  min-height: 1659px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .rono-it-achtergrond-blauw-rgb-5 {
  aspect-ratio: 3.55;
  height: 541px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .vector {
  height: 1061px;
  left: 786px;
  position: absolute;
  top: 0;
  width: 1134px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .profiel-menu-gesloten-1 {
  align-items: center;
  background-color: var(--blue-whale);
  border-radius: 13px;
  display: inline-flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
  width: 138px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .profiel-menu-gesloten-2 {
  align-items: center;
  background-color: var(--blue-whale);
  border-radius: 13px;
  display: inline-flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
  width: 133px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .logo {
  aspect-ratio: 2.62;
  background-image: url(../img/rono-it-logo---tagline-rgb-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 66px;
  left: 874px;
  position: absolute;
  top: 34px;
  width: 173px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .group-226 {
  display: flex;
  height: 48px;
  left: 240px;
  position: absolute;
  top: 625px;
  width: 651px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .bedankt-hebben-je-bericht-ontvangen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 649px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .group-273 {
  display: flex;
  height: 48px;
  left: 240px;
  position: absolute;
  top: 814px;
  width: 651px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .title {
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 175px;
  white-space: nowrap;
  width: 1054px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .component-1 {
  background-image: url(../img/rono-it-achtergrond-blauw-rgb-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 577px;
  left: 0;
  position: absolute;
  top: 1082px;
  width: 1920px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .x3f6bd76d-24c0-2648-4f7a-5c61faf211db-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 67.71%;
  object-fit: cover;
  position: absolute;
  top: 294px;
  width: 9.03%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .x34474454-29b6-4873-9d1e-dd1434fdf18c-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 68.54%;
  object-fit: cover;
  position: absolute;
  top: 384px;
  width: 8.91%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .x33f7f3f4-d3a3-62db-0eff-22e8fffcfaed-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 69.69%;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 8.91%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .x0f1a7654-951c-6193-1139-23db606c07bb-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 69.32%;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 9.03%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .frame-225 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 9.19%;
  justify-content: center;
  left: 12.50%;
  position: absolute;
  top: 26.52%;
  width: 15.94%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .profiel-menu-gesloten-3 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .bel-of-schrijf-ons-1 {
  left: 240px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 923px;
  width: 339px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .group-261 {
  display: flex;
  height: 58px;
  left: 236px;
  position: absolute;
  top: 683px;
  width: 659px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .we-bellen-of-mailen {
  height: 58px;
  letter-spacing: 0;
  line-height: 27px;
  width: 657px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .group-256 {
  background-color: var(--link-water);
  border-radius: 26px;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 50px;
  left: 217px;
  position: absolute;
  top: 996px;
  width: 465px;
}

.x06u4605u462-jouw-vraag-u40formulier-ingevuldu41 .group-274 {
  display: flex;
  height: 32px;
  left: 240px;
  position: absolute;
  top: 872px;
  width: 659px;
}
