/* screen - 06u4603-over-rono-it */

.x06u4603-over-rono-it {
  background-color: var(--link-water);
  min-height: 2444px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

.x06u4603-over-rono-it .rono-it-achtergrond-blauw-rgb-2 {
  height: 1028px;
  object-fit: cover;
}

.x06u4603-over-rono-it .rono-it-achtergrond-blauw-rgb-1 {
  aspect-ratio: 3.16;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 607px;
}

.x06u4603-over-rono-it .profiel-menu-gesloten-1 {
  background-color: var(--blue-whale);
  flex: 1;
  width: 138px;
}

.x06u4603-over-rono-it .profiel-menu-gesloten-2 {
  background-color: var(--blue-whale);
  flex: 1;
  width: 133px;
}

.x06u4603-over-rono-it .logo {
  aspect-ratio: 2.62;
  background-image: url(../img/rono-it-logo---tagline-rgb-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 66px;
  left: 874px;
  position: absolute;
  top: 34px;
  width: 173px;
}

.x06u4603-over-rono-it .wij-zijn-rono-it-wi {
  left: 240px;
  line-height: normal;
  top: 175px;
  width: 708px;
}

.x06u4603-over-rono-it .wij-zijn-rono-it-en {
  left: 272px;
  line-height: 27px;
  top: 368px;
  width: 565px;
}

.x06u4603-over-rono-it .image-2 {
  aspect-ratio: 6.55;
  height: 111px;
  left: 233px;
  object-fit: cover;
  position: absolute;
  top: 1109px;
  width: 727px;
}

.x06u4603-over-rono-it .group-238 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 186px;
  left: 240px;
  position: absolute;
  top: 1343px;
  width: 664px;
}

.x06u4603-over-rono-it .klimaat-minder-stroom-meer-rust {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4603-over-rono-it .je-apparatuur-draait {
  height: 128px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4603-over-rono-it .group-266 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 186px;
  left: 240px;
  position: absolute;
  top: 527px;
  width: 664px;
}

.x06u4603-over-rono-it .waarom-we-doen-wat-we-doen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4603-over-rono-it .omdat-we-geloven-dat {
  height: 128px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4603-over-rono-it .group-258 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 192px;
  left: 1022px;
  position: absolute;
  top: 1343px;
  width: 663px;
}

.x06u4603-over-rono-it .de-toekomst-vraagt-eenvoud {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 603.23px;
}

.x06u4603-over-rono-it .nder {
  height: 134px;
  letter-spacing: 0;
  line-height: 27px;
  width: 659px;
}

.x06u4603-over-rono-it .group-267 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 192px;
  left: 1022px;
  position: absolute;
  top: 527px;
  width: 663px;
}

.x06u4603-over-rono-it .wat-we-doen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 603.23px;
}

.x06u4603-over-rono-it .group-257 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 219px;
  left: 240px;
  position: absolute;
  top: 1564px;
  width: 664px;
}

.x06u4603-over-rono-it .minder-papier-minder-verspilling {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4603-over-rono-it .we-houden-niet-van-o {
  height: 161px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4603-over-rono-it .group-268 {
  height: 219px;
  left: 240px;
  position: absolute;
  top: 748px;
  width: 1449px;
}

.x06u4603-over-rono-it .it-is-mensenwerk-da {
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 58px;
  width: 660px;
}

.x06u4603-over-rono-it .it-is-geen-doel-het {
  left: 781px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 58px;
  width: 660px;
}

.x06u4603-over-rono-it .hoe-we-werken {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 604px;
}

.x06u4603-over-rono-it .waarom-kies-je-voor-rono-it {
  left: 781px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 604px;
}

.x06u4603-over-rono-it .group-256 {
  background-color: var(--link-water);
  border-radius: 26px;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 50px;
  left: 217px;
  position: absolute;
  top: 996px;
  width: 465px;
}

.x06u4603-over-rono-it .wij-kunnen-je-helpen {
  left: 272px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 1238px;
  width: 565px;
}

.x06u4603-over-rono-it .group-225 {
  display: flex;
  height: 48px;
  left: 1022px;
  position: absolute;
  top: 1564px;
  width: 133px;
}

.x06u4603-over-rono-it .profiel-menu-gesloten-3 {
  background-color: var(--salomie);
  height: 48px;
  width: 133px;
}

.x06u4603-over-rono-it .stel-je-vraag-1 {
  letter-spacing: 0;
  line-height: 21.6px;
  margin-top: -1.00px;
  position: relative;
  width: 107px;
}

.x06u4603-over-rono-it .profiel-menu-gesloten-4 {
  align-items: center;
  border-radius: 13px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
}

.x06u4603-over-rono-it .rono-it-achtergrond-blauw-rgb {
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x06u4603-over-rono-it .wij-zijn-rono-it {
  letter-spacing: 0;
  position: absolute;
}
