/* screen - 06u4607-ons-privacybeleid */

.x06u4607-ons-privacybeleid {
  background-color: var(--link-water);
  min-height: 1545px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

.x06u4607-ons-privacybeleid .rono-it-achtergrond-blauw-rgb-1 {
  aspect-ratio: 3.16;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 607px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x06u4607-ons-privacybeleid .profiel-menu-gesloten-1 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 138px;
}

.x06u4607-ons-privacybeleid .profiel-menu-gesloten-2 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 133px;
}

.x06u4607-ons-privacybeleid .logo {
  aspect-ratio: 2.62;
  background-image: url(../img/rono-it-logo---tagline-rgb-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 66px;
  left: 874px;
  position: absolute;
  top: 34px;
  width: 173px;
}

.x06u4607-ons-privacybeleid .title {
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 175px;
  white-space: nowrap;
  width: 708px;
}

.x06u4607-ons-privacybeleid .jouw-gegevens-zijn-v {
  left: 272px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 246px;
  width: 565px;
}

.x06u4607-ons-privacybeleid .component-1 {
  background-image: url(../img/rono-it-achtergrond-blauw-rgb-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 577px;
  left: 0;
  position: absolute;
  top: 968px;
  width: 1920px;
}

.x06u4607-ons-privacybeleid .x3f6bd76d-24c0-2648-4f7a-5c61faf211db-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 67.71%;
  object-fit: cover;
  position: absolute;
  top: 294px;
  width: 9.03%;
}

.x06u4607-ons-privacybeleid .x34474454-29b6-4873-9d1e-dd1434fdf18c-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 68.54%;
  object-fit: cover;
  position: absolute;
  top: 384px;
  width: 8.91%;
}

.x06u4607-ons-privacybeleid .x33f7f3f4-d3a3-62db-0eff-22e8fffcfaed-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 69.69%;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 8.91%;
}

.x06u4607-ons-privacybeleid .x0f1a7654-951c-6193-1139-23db606c07bb-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 69.32%;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 9.03%;
}

.x06u4607-ons-privacybeleid .frame-225 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 9.19%;
  justify-content: center;
  left: 12.50%;
  position: absolute;
  top: 26.52%;
  width: 15.94%;
}

.x06u4607-ons-privacybeleid .profiel-menu-gesloten-3 {
  align-self: stretch;
  background-color: var(--link-water);
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.x06u4607-ons-privacybeleid .group-238 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 213px;
  left: 240px;
  position: absolute;
  top: 424px;
  width: 664px;
}

.x06u4607-ons-privacybeleid .wat-we-vastleggen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4607-ons-privacybeleid .als-je-klant-bij-ons {
  height: 155px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4607-ons-privacybeleid .group-264 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 111px;
  left: 1021px;
  position: absolute;
  top: 424px;
  width: 664px;
}

.x06u4607-ons-privacybeleid .hoe-lang-we-gegevens-bewaren {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4607-ons-privacybeleid .we-bewaren-je-gegeve {
  height: 53px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4607-ons-privacybeleid .group-265 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 165px;
  left: 1021px;
  position: absolute;
  top: 560px;
  width: 664px;
}

.x06u4607-ons-privacybeleid .jouw-rechten {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4607-ons-privacybeleid .je-hebt-altijd-recht {
  height: 107px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4607-ons-privacybeleid .group-266 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 138px;
  left: 1021px;
  position: absolute;
  top: 746px;
  width: 664px;
}

.x06u4607-ons-privacybeleid .cookies {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4607-ons-privacybeleid .onze-website-gebruik {
  height: 80px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4607-ons-privacybeleid .group-257 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 165px;
  left: 240px;
  position: absolute;
  top: 668px;
  width: 664px;
}

.x06u4607-ons-privacybeleid .met-wie-we-je-gegevens-delen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 604.15px;
}

.x06u4607-ons-privacybeleid .we-delen-jouw-gegeve {
  height: 107px;
  letter-spacing: 0;
  line-height: 27px;
  width: 660px;
}

.x06u4607-ons-privacybeleid .group-256 {
  background-color: var(--link-water);
  border-radius: 26px;
  box-shadow: 0px 0px 5px #1e1e1e40;
  height: 50px;
  left: 217px;
  position: absolute;
  top: 996px;
  width: 465px;
}

.x06u4607-ons-privacybeleid .profiel-menu-gesloten-4 {
  align-items: center;
  border-radius: 13px;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
}
