/* screen - 06u4609-landingspagina-bioscoop */

.x06u4609-landingspagina-bioscoop {
  background-color: var(--salomie);
  min-height: 1691px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

.x06u4609-landingspagina-bioscoop .rono-it-website-header-beeld-bios-2 {
  aspect-ratio: 1.07;
  height: 1070px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1142px;
}

.x06u4609-landingspagina-bioscoop .profiel-menu-gesloten-1 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 138px;
}

.x06u4609-landingspagina-bioscoop .profiel-menu-gesloten-2 {
  background-color: var(--blue-whale);
  display: inline-flex;
  flex: 1;
  width: 133px;
}

.x06u4609-landingspagina-bioscoop .logo {
  aspect-ratio: 2.62;
  background-image: url(../img/rono-it-logo---tagline-rgb-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 66px;
  left: 874px;
  position: absolute;
  top: 34px;
  width: 173px;
}

.x06u4609-landingspagina-bioscoop .met-welke-it-vraag-kunnen-we-je-helpen {
  left: 240px;
  letter-spacing: 0;
  line-height: 57.6px;
  position: absolute;
  top: 167px;
  width: 1054px;
}

.x06u4609-landingspagina-bioscoop .curabitur-ligula-sap {
  left: 272px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 296px;
  width: 425px;
}

.x06u4609-landingspagina-bioscoop .component-1 {
  background-image: url(../img/rono-it-achtergrond-blauw-rgb-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 577px;
  left: 0;
  position: absolute;
  top: 1114px;
  width: 1920px;
}

.x06u4609-landingspagina-bioscoop .x3f6bd76d-24c0-2648-4f7a-5c61faf211db-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 67.71%;
  object-fit: cover;
  position: absolute;
  top: 294px;
  width: 9.03%;
}

.x06u4609-landingspagina-bioscoop .x34474454-29b6-4873-9d1e-dd1434fdf18c-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 68.54%;
  object-fit: cover;
  position: absolute;
  top: 384px;
  width: 8.91%;
}

.x06u4609-landingspagina-bioscoop .x33f7f3f4-d3a3-62db-0eff-22e8fffcfaed-1 {
  aspect-ratio: 2.22;
  height: 77px;
  left: 69.69%;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 8.91%;
}

.x06u4609-landingspagina-bioscoop .x0f1a7654-951c-6193-1139-23db606c07bb-1 {
  aspect-ratio: 2.22;
  height: 78px;
  left: 69.32%;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 9.03%;
}

.x06u4609-landingspagina-bioscoop .frame-225 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 9.19%;
  justify-content: center;
  left: 12.50%;
  position: absolute;
  top: 26.52%;
  width: 15.94%;
}

.x06u4609-landingspagina-bioscoop .profiel-menu-gesloten-3 {
  align-self: stretch;
  background-color: var(--link-water);
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.x06u4609-landingspagina-bioscoop .group-261 {
  height: 525px;
  left: 240px;
  position: absolute;
  top: 489px;
  width: 712px;
}

.x06u4609-landingspagina-bioscoop .group-226 {
  display: flex;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 651px;
}

.x06u4609-landingspagina-bioscoop .stel-je-vraag-1 {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 649px;
}

.x06u4609-landingspagina-bioscoop .group-9 {
  display: flex;
  height: 34px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 343px;
}

.x06u4609-landingspagina-bioscoop .profiel {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  display: flex;
  gap: 10px;
  height: 34px;
  padding: 8px 13px;
  position: relative;
  width: 343px;
}

.x06u4609-landingspagina-bioscoop .group-257 {
  display: flex;
  height: 34px;
  left: 366px;
  position: absolute;
  top: 61px;
  width: 343px;
}

.x06u4609-landingspagina-bioscoop .group-258 {
  display: flex;
  height: 34px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 343px;
}

.x06u4609-landingspagina-bioscoop .group-259 {
  background-color: var(--alabaster);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  height: 320px;
  left: 0;
  position: absolute;
  top: 157px;
  width: 710px;
}

.x06u4609-landingspagina-bioscoop .group-10 {
  display: flex;
  height: 34px;
  left: 591px;
  position: absolute;
  top: 491px;
  width: 118px;
}

.x06u4609-landingspagina-bioscoop .profiel-1 {
  align-items: center;
  background-color: var(--blue-whale);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #00000040;
  display: flex;
  gap: 10px;
  height: 34px;
  padding: 8px 13px;
  position: relative;
  width: 118px;
}

.x06u4609-landingspagina-bioscoop .type-hier-jouw-bericht {
  left: 13px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 165px;
  white-space: nowrap;
}

.x06u4609-landingspagina-bioscoop .profiel-menu-gesloten-4 {
  align-items: center;
  border-radius: 13px;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
}
