@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:700,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/677fd22aa4e820fb39430315.677fd22ba4e820fb39430318.ZWPBWh1.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu {
  height: 53px;
  left: 1281px;
  position: absolute;
  top: 40px;
  width: 400px;
}

.group-5 {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.25%;
}

.profiel-menu-gesloten {
  align-items: center;
  background-color: var(--blue-whale);
  border-radius: 13px;
  display: inline-flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 13px;
  position: relative;
  width: 105px;
}

.place {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.group-6 {
  display: flex;
  height: 100%;
  left: 29.25%;
  position: absolute;
  top: 0;
  width: 34.50%;
}

.over-rono-it {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.group-7 {
  display: flex;
  height: 100%;
  left: 66.75%;
  position: absolute;
  top: 0;
  width: 33.25%;
}

.stel-je-vraag {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.group-239 {
  display: flex;
  height: 13.52%;
  left: 12.50%;
  position: absolute;
  top: 8.32%;
  width: 17.97%;
}

.hoe-maken-we-jouw-werk-makkelijker {
  flex: 1;
  letter-spacing: 0;
  line-height: 38.4px;
  width: 343px;
}

.group-248 {
  display: flex;
  height: 52.17%;
  left: 31.56%;
  position: absolute;
  top: 8.84%;
  width: 17.97%;
}

.branches-over-rono-i {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  width: 343px;
}

.span0 {
  line-height: 32px;
}

.span1 {
  line-height: 30px;
}

.span {
  line-height: 27px;
}

.group-249 {
  display: flex;
  height: 13.00%;
  left: 50.62%;
  position: absolute;
  top: 8.84%;
  width: 17.97%;
}

.bezoek-ons-schutweg-3-m-5145-np-waalwijk {
  flex: 1;
  letter-spacing: 0;
  line-height: 27px;
  width: 343px;
}

.group-250 {
  display: flex;
  height: 13.00%;
  left: 69.69%;
  position: absolute;
  top: 9.01%;
  width: 17.97%;
}

.deze-certificaten-hebben-we-behaald {
  flex: 1;
  letter-spacing: 0;
  line-height: 27px;
  width: 343px;
}

.x2025-rono-it-all {
  align-items: center;
  display: flex;
  height: 7.28%;
  justify-content: center;
  left: 37.86%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92.72%;
  width: 24.22%;
}

.bel-of-schrijf-ons {
  height: 13.00%;
  left: 50.62%;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 26.34%;
  width: 17.86%;
}

.volg-ons-linked-in {
  height: 10.92%;
  left: 50.62%;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 47.14%;
  width: 17.86%;
}

.daag-ons-uit-met-jouw-vraagstuk {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.hoi-wij-zijn-rono-i {
  height: 52.00%;
  left: 3.44%;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 22.00%;
  white-space: nowrap;
  width: 93.12%;
}

.liever-even-bellen-of-mailen {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  width: 649px;
}

.heb-je-een-vraag-waa {
  left: 272px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 248px;
  width: 425px;
}

.naam {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.telefoonnummer {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.e-mailadress {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.verzenden {
  letter-spacing: 0;
  line-height: 18px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dat-mag-natuurlijk-ook {
  height: 32px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  width: 657px;
}